.note-editor-container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    color: black;
}

.note-editor-title {
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.note-input {
    resize: none;
    border-radius: 5px;
    /* margin: 20px auto 0 auto; */
    padding: 10px;
}

.note-add {
    margin: 20px auto 0 auto;
    padding: 10px;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 3px;
}

.note-add:disabled {
    color: lightgray;
    border: 1px solid lightgray;
    cursor: default;
}

.note-editor-input-controls {
    display: flex;
    flex-direction: row;
    margin: 20px auto 0 auto;
  }

  .note-editor-buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
  }

  .note-editor-button > button {
      margin: 10px auto;
  }